/* Footer Styling */
footer {
  background-color: black;
}
.social-icons {
  width: 100px;
  margin: 0 auto;
}
.social-icon-1st {
  float: left;
}
.social-icon-2nd {
  float: right;
}
.footer-copyright {
  clear: both;
}

/* Index Page Styling */
.titlecontainer {
  width: 100%;
  padding-top: 75px;
}
.home-title {
  width: 50%;
  padding-left: 50px;
  padding-top: 150px;
  float: left;
}
.personal-photo {
  width: 50%;
  padding-left: 150px;
  float: right;
}

/* Project Page Styling */
.projectcontainer {
  margin-top: 50px;
}
.projectcontainerheader {
  margin-bottom: 50px;
}
.card {
  width: 525px;
  height: 400px;
}
a.customcard,
a.customcard:hover {
  text-decoration: none;
  color: inherit;
}
.card-img-top {
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
}
/* Contact Page Styling */
.contactcontainerheader {
  margin-top: 50px;
}

.contactinfo {
  margin-top: 250px;
}
