.home-title{
    float: left;
}
.personal-photo{
    height: 226px;
    width: 228px;
    background-color: black;
    float:right;
}

















footer{
    background-color: black;
}
.social-icons{
    width: 100px;
    margin: 0 auto;
}
.social-icon-1st{
float: left;
}
.social-icon-2nd{
float: right;
}
.footer-copyright{
    clear: both;
}